.heading {
    font-size: 22px;
    width: 90%;
    margin: 0px;
    margin-top: 10px;
    box-shadow: 5px 5px 5px aqua;
    font-family: 'Special Elite', cursive;
    color:aqua
}

.copy_right_footer {
    position: fixed;
    color: chartreuse;
    width: 100%;
    bottom: 0;
    background-color: blue;
    font-size: 24;
    line-height: 3;
    text-align: center;
    font-family: 'Special Elite', cursive;
}

.Note {
    font-size: 22px;
    color: black;
}

body {
    background-image: url('https://doy2mn9upadnk.cloudfront.net/uploads/default/original/4X/6/b/f/6bf3b4d933bff319ab61776e7ca4cde8cc364d55.jpeg')
}

canvas {
    border-radius: 20px;
    border: 5px solid blue;
    box-shadow: 10px 10px 10px green;
}